
.error{
        margin: 3%;
    }
    .link{
        text-decoration: none;
        color: black;
        max-width: 177px !important;
        .volver{
            margin-left: 3%;
        }
    }