.error{
    margin: 3%;
    font-family: $tipo;
}   
.link{
    margin-left: 3%;
    .boton{
        border-color: black;
        background-color: black;
        color:white;
        border-radius: .25rem;
    }
}
