$tipo: 'Oswald', sans-serif;

main{
    .encabezado{
        margin-top: 2%;
        margin-left: 20%; 
    }
    p{
        font-family: $tipo;
        width: 624px;
        margin-top: 2%;
        margin-left: 20%;
    }
}