$colorbody: rgb(201, 193, 193);
$colorheader: black;
$color-nav-y-footer: gray;
$widht1: 550px;
$widht2: 600px;
$height1: 500px;
$height2: 309px;
$padding1: 50px;
$tipo: 'Oswald', sans-serif;
$titulos: 32px;

body{
    background-color: $colorbody;
}
header{
    background-color: $colorheader;
    display: flex;
    justify-content: center;
    height: 500px;
    .logo__pagina{
        height: $height1;
    }
}

main{
    .encabezado{
        margin-top: 2%;
        margin-left: 20%; 
    }
    p{
        font-family: $tipo;
        width: 624px;
        margin-top: 2%;
        margin-left: 20%;
    }
}