$tipo: 'Oswald', sans-serif;


body{
    background-color: $colorbody;
}
header{
    background-color: $colorheader;
    display: flex;
    justify-content: center;
    height: 500px;
    .logo__pagina{
        height: $height1;
    }
}

main{
    .encabezado{
        margin-top: 2%;
        margin-left: 20%; 
    }
    p{
        font-family: $tipo;
        width: 624px;
        margin-top: 2%;
        margin-left: 20%;
    }
}