$tipo: 'Oswald', sans-serif;

main{
    .recuadro{
        font-family: $tipo;
        margin-left: 20%;
        margin-top: 3%;
    }
    .video-recuadro{
        width: 30%;
        margin-left: 20%;
    }
}