$widht2: 600px;
$height1: 500px;
$tipo: 'Oswald', sans-serif;

.nota__tops{
    background-image: url(../imagenes/goat-simulator.png);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    width: $widht2;
    height: $height1;
    font-family: $tipo;
    margin: 2%;
    .card-img-overlay{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .card-text{
        text-align: center;
        margin-top: 20%;
        color: black;
        font-family: 'Oswald', sans-serif;
    }
}
.nota__tops:hover{
    opacity: 1;
    transition: 1s;
    filter: grayscale(0%);
    
    .card-text{
        visibility: hidden;
        transition: 0s;
    }
    .card-img-overlay{
        transition: 0s;
        visibility: hidden;
    }
}
