@import "contacto";
@import "cultura";
@import "deportes";
@import "entrevistas";
@import "sociedad";
@import "tops";
@import "tecnologia";

$colorbody: rgb(201, 193, 193);
$colorheader: black;
$color-nav-y-footer: gray;
$widht1: 550px;
$widht2: 600px;
$height1: 500px;
$height2: 309px;
$padding1: 50px;
$tipo: 'Oswald', sans-serif;
$titulos: 32px;

@mixin tamaño-notas{
    width: $widht2;
    height: $height1;
}

body{
    background-color: $colorbody;
}
header{
    background-color: $colorheader;
    display: flex;
    justify-content: center;
    height: 500px;
    .logo__pagina{
        height: $height1;
    }
}

nav{
    background-color: $color-nav-y-footer;
    width: 100%;
    height: 105px;
    display: flex;
    .menu__nav{
        padding: 20px;
        margin: 30px;
        bottom: 8px;
        border: ridge;
        border-color: white;
        background-color: black;
        color: white;
        font-size: 18px;
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        .menu__dropdown{
            border: ridge;
            border-color: white;
            background-color: black;
            color: white;
            font-size: 18px;
            font-family: 'Oswald', sans-serif;
        }
    }
    .barra__busqueda{
        display: flex;
        flex-wrap: nowrap;
        font-family: 'Oswald', sans-serif;
        .boton__busqueda{
            border-color: black;
            background-color: black;
            color:white;
            border-radius: .25rem;
        }
    }
}

.slider__carrusel{
    width: 50%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    
    .texto__carrusel{
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    .texto__gardel{
        color: black;
        font-family: 'Oswald', sans-serif;
    }
    .notas{
        width: 550px;
        height: 500px;
    }
}

.grid{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "nota1 nota2 nota3"
    "nota4 nota5 nota6";
    &:nth-child(1){
        grid-area: nota1;
    }
    &:nth-child(2){
        grid-area: nota2;   
    }
    &:nth-child(3){
        grid-area: nota3;
    }
    &:nth-child(4){
        grid-area: nota4;
    }
    &:nth-child(5){
        grid-area: nota5;
    }
    &:nth-child(6){
        grid-area: nota6;
    }
    .nota__toscano{
        background-image: url(pablotoscano.png);
        opacity: 0.5;}
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: white;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__toscano:hover{
        opacity: 1;
        transition: 0.5s;
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
    }
    .nota__gardel{
        background-image: url(casa-gardel.png);
        opacity: 0.5;}
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: white;
            font-family: 'Oswald', sans-serif;
        }
    .nota__gardel:hover{
        opacity: 1;
        transition: 0.5s;
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
    }
    .nota__arsenico{
        background-image: url(carlos-casares.jpg);
        opacity: 0.5;}
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: white;
            font-family: 'Oswald', sans-serif;
        }
    .nota__arsenico:hover{
        opacity: 1;
        transition: 0.5s;
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
    }
    .nota__boxeo{
        background-image: url(almagro-boxing.png);
        opacity: 0.5;}
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: white;
            font-family: 'Oswald', sans-serif;
        }
    .nota__boxeo:hover{
        opacity: 1;
        transition: 0.5s;
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
    }
    .nota__titulos{
        font-size: 30px;
        font-weight: 700;
    }
    .nota__texto{
        font-size: 20px;
    }

#whatsapp{
    display: flex;
    justify-content: right;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom:0;
    margin-left: 93%;
    margin-bottom: 5%;
}

footer{
    margin-top: 5%;
    display: flex;
    justify-content: right;
    background-color: gray;
    height: 150px;
    .footloose {
        margin-top: 60px;
    }
    .redes{
        margin-top: 35px;
        margin-left: 25px;
    }
    
    #facebook{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    
    #instagram{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    #twitter{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
}