$colorbody: rgb(201, 193, 193);
$colorheader: black;
$color-nav-y-footer: gray;
$widht1: 550px;
$widht2: 600px;
$height1: 500px;
$height2: 309px;
$padding1: 50px;
$tipo: 'Oswald', sans-serif;
$titulos: 32px;

@mixin tamaño-notas{
    width: $widht2;
    height: $height1;
}

body{
    background-color: $colorbody;
}
header{
    background-color: $colorheader;
    display: flex;
    justify-content: center;
    height: 500px;
    .logo__pagina{
        height: $height1;
    }
}

nav{
    background-color: $color-nav-y-footer;
    width: 100%;
    height: 105px;
    display: flex;
    .menu__nav{
        padding: 20px;
        margin: 30px;
        bottom: 8px;
        border: ridge;
        border-color: white;
        background-color: black;
        color: white;
        font-size: 18px;
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        .menu__dropdown{
            border: ridge;
            border-color: white;
            background-color: black;
            color: white;
            font-size: 18px;
            font-family: 'Oswald', sans-serif;
        }
    }
    .barra__busqueda{
        display: flex;
        flex-wrap: nowrap;
        font-family: 'Oswald', sans-serif;
        .boton__busqueda{
            border-color: black;
            background-color: black;
            color:white;
            border-radius: .25rem;
        }
    }
}

.slider__carrusel{
    width: 50%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    
    .texto__carrusel{
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    .texto__gardel{
        color: black;
        font-family: 'Oswald', sans-serif;
    }
    .notas{
        width: 550px;
        height: 500px;
    }
}

.grid{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    .nota__toscano{
        width: $widht2;
        height: $height1;
        font-family: $tipo;
        .foto__toscano{
            width: $widht1;
            height: $height2;
        }
    }
    .nota__gardel{
        width: $widht2;
        height: $height1;
        font-family: $tipo;
        .foto__gardel{
            margin-top: 10%;
            width: $widht1;
            height: $height2;
        }
        .titulo__gardel{
            font-size: $titulos;
        }
    }
    .nota__arsenico{
        width: $widht2;
        height: $height1;
        font-family: $tipo;
        .foto__casares{
            width: $widht1;
            height: $height2;
        }
        .titulo__arsenico{
            font-size: $titulos;
        }
    }
    .nota__almagro{
        width: $widht2;
        height: $height1;
        font-family: $tipo;
        .foto__gimnasio{
            margin-top: 10%;
            width: $widht1;
            height: $height2;
        }
        .titulo__almagro{
            font-size: $titulos;
        }
    }
}

#whatsapp{
    display: flex;
    justify-content: right;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom:0;
    margin-left: 93%;
    margin-bottom: 5%;
}

footer{
    margin-top: 5%;
    display: flex;
    justify-content: right;
    background-color: gray;
    height: 150px;
    .footloose {
        margin-top: 60px;
    }
    .redes{
        margin-top: 35px;
        margin-left: 25px;
    }
    
    #facebook{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    
    #instagram{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    #twitter{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
}
