@import "cultura";
@import "deportes";
@import "entrevistas";
@import "sociedad";
@import "tops";
@import "notas";
@import "404";

$colorbody: rgb(201, 193, 193);
$colorheader: black;
$color-nav-y-footer: gray;
$height1: 31.25rem;
$height2: 19.313rem;
$tipo: 'Oswald', sans-serif;
$widht1: 34.375rem;
$widht2: 37.5rem;
$width3: 40.625rem;

body{
    background-color: $colorbody;
}
header{
    background-color: $colorheader;
    display: flex;
    justify-content: center;
    height: 31.25rem;
    width: 100%;
    .logo__pagina{
        height: $height1;
    }
}

nav{
    background-color: $color-nav-y-footer;
    font-size: 1.25rem;
    font-family: $tipo;
    display: flex;
    z-index: 10;
    height: 7.813rem;
    position: sticky !important;
    top: 0;
    border-bottom-style: solid;
    border-width: 0.031rem;
    .nav-link{
        color: black !important;
        background-color: rgba(128, 128, 128, 0.800);
    }
    .nav-link:hover{
        background-color: black;
        color: white !important;
    }
    .menu{
        margin-left: 3%;
    }
    .dropdown-menu{
        background-color: unset;
        border: unset;
        z-index: 1;
        background-color: rgba(128, 128, 128, 0);
    }
    .dropdown-item{
        color: black;
    }
    .dropdown-item:hover{
        background-color: black !important;
        color: white !important;
    }
}
.slider__carrusel{
    width: 35%;
    height: 70%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    
    .texto__carrusel{
        color: black;
        font-family: 'Oswald', sans-serif;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .notas{
        width: 34.375;
        height: 31.25rem;
    }
}

.grid{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "nota__toscano nota__gardel nota__arsenico"
    "nota__boxeo nota__tops nota__siria";
    &:nth-child(1){
        grid-area: nota__toscano;
    }
    &:nth-child(2){
        grid-area: nota__gardel;   
    }
    &:nth-child(3){
        grid-area: nota__arsenico;
    }
    &:nth-child(4){
        grid-area: nota__boxeo;
    }
    &:nth-child(5){
        grid-area: nota__tops;
    }
    &:nth-child(6){
        grid-area: nota__siria;
    }
    a{
        text-decoration: none;
    }
    .nota__toscano{
        background-image: url(../imagenes/pablo-toscano.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        border-radius: 0;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 0;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__toscano:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__gardel{
        background-image: url(../imagenes/casa-gardel.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0 0;
        border-style: none;
        border-radius: 0;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 0;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__gardel:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__arsenico{
        background-image: url(../imagenes/casares-card.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        border-radius: 0;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__arsenico:hover{
        opacity: 1;
        transition: 0.5s;
        filter: grayscale(0%);
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }

    .nota__boxeo{
        background-image: url(../imagenes/almagro-boxing.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        border-radius: 0;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__boxeo:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__tops{
        background-image: url(../imagenes/goat-simulator.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        border-radius: 0;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__tops:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__siria{
        background-image: url(../imagenes/guerra-siria.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        border-radius: 0;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__siria:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
}

.secciones{
    max-width: $widht2;
    margin: 2%;
    a{
        text-decoration: none;
    }
}

footer{
    margin-top: 5%;
    display: grid;
    background-color: gray;
    width: 100%;
    height: 9.375rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "footlose redes buscador";
    &:nth-child(1){
        grid-area: footlose;
    }
    &:nth-child(2){
        grid-area: redes;
    }
    &:nth-child(3){
        grid-area: buscador;
    }

    .footloose {
        margin: auto;
    }
    .redes{
        margin: auto;
        .redes__footer{
            text-align: center;
        }
        .red{
            margin: 1.25rem;
            .red-social{
                width: 1.875rem;
                height: 1.875rem;
            }
        }
    }
    .buscador{
        margin: auto;
        .barra__busqueda{
            margin: auto;
            display: flex;
            width: 15rem;
            height: 3rem;
            flex-wrap: nowrap !important;
            font-family: 'Oswald', sans-serif;
            .error{
                margin: auto;
                margin-left: 0.625rem;
                height: 100%;
                .boton__busqueda{
                    height: 100%;
                    border-color: black;
                    background-color: black;
                    color:white;
                    border-radius: .25rem;
                } 
            }  
        }
    }
}

.formulario{
    margin-top: 3%;
    padding-left: 5%;
    font-family: $tipo;
}

@media screen and (max-width: 479px){
    nav{
        .menu{
            margin-left: 0%;
            margin-top: 0%;
        }
        .nav-link{
            padding-left: 2% !important;
        }
        .dropdown-menu{
            padding: 0%;
            background-color: rgba(128, 128, 128, 0) !important;
            margin-top: 0px !important;
        }
        .dropdown-item{
            color: black;
        }
    }
    .slider__carrusel{
        width: 100%;
        height: 50% !important;
        margin-top: 5%; 
        .notas{
            height: 100%;
        }
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "nota__toscano"
        "nota__gardel"
        "nota__arsenico"
        "nota__boxeo"
        "nota__tops"
        "nota__siria";
        .nota__gardel{
            background-image: url(../imagenes/gardel-card-415.png);
        }
        .nota__arsenico{
            background-image: url(../imagenes/casares-card-415.png);
        }
        .nota__tops{
            background-image: url(../imagenes/cabra-card-415.png);
        }
    }
    
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        .footloose, .redes{
            margin-top: 10%;
            justify-content: center;
        }
        .redes{
            transform: translateY(-50%);
        }
        .buscador{
            transform: translateY(-50%);
            margin-top: 10%;
            .error{
                margin-left: 0.625rem;
                .boton__busqueda{
                    margin-top: 0% !important;
                    height: 100%;
                    border-color: black;
                    background-color: black;
                    color:white;
                    border-radius: .25rem;
                } 
            }
        }
    }
    .secciones{
        margin: 5% 0% 0% 0%;
        .nota__toscano{
            width: 100%;
            margin: 0px;
        }
        .nota__gardel{
            width: 100%;
            margin: 0px;
        }
        .nota__arsenico{
            width: 100%;
            margin: 0px;
        }
        .nota__boxeo{
            width: 100%;
            margin-left: 0px;
        }
        .nota__tops{
            width: 100%;
            margin: 0px;
        }
        .nota__siria{
            width: 100%;
            margin: 0px;
        }
    }
}

#Consulta{
    max-width: 21.875rem;
}

@media screen and (min-width:480px) and (max-width: 779px){
    nav{
        .menu{
            margin-left: 0%;
            margin-top: 0%;
        }
        .nav-link{
            padding-left: 2% !important;
        }
        .dropdown-menu{
            padding: 0%;
            background-color: rgba(128, 128, 128, 0) !important;
            margin-top: 0px !important;
        }
        .dropdown-item{
            color: black;
        }
    }

    .slider__carrusel{
        width: 100%;
        height: 50% !important;
        margin-top: 5%; 
        font-size: 1.25rem;
        .notas{
            height: 100%;
        }
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "nota__toscano"
        "nota__gardel"
        "nota__arsenico"
        "nota__boxeo"
        "nota__tops"
        "nota__siria";
        .card-text{
            h1{
                font-size: 2.5rem;
            }
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }  
    }

    .secciones{
        margin: 5% 0% 0% 0%;  
        .nota__toscano{
            width: 100%;
            margin: 0px;
            transform: translateX(14%);
            .card-text{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }  
        }
        .nota__gardel{
            width: 100%;
            margin: 0px;
            transform: translateX(14%);
            .card-text{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }  
        }
        .nota__arsenico{
            width: 100%;
            margin: 0px;
            .card-text{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }  
        }
        .nota__boxeo{
            width: 100%;
            transform: translateX(14%);
            .card-text{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }  
        }
        .nota__tops{
            width: 100%;
            margin: 0px;
            transform: translateX(14%);
            .card-text{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }  
        }
        .nota__siria{
            width: 100%;
            margin: 0px;
            .card-text{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }  
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        margin-bottom: 0%;
        .footloose, .redes{
            margin-top: 10%;
            justify-content: center;
        }
        .redes{
            transform: translateY(-50%);
        }
        .buscador{
            margin-top: 10%;
            transform: translateY(-50%);
            .error{
                margin-left: 0.625rem;
                .boton__busqueda{
                    margin-top: 0% !important;
                    height: 100%;
                    border-color: black;
                    background-color: black;
                    color:white;
                    border-radius: .25rem;
                } 
            }
        }
    }
    #Consulta{
        max-width: 43.75rem;
    }
}