.nota__gardel {
  background-image: url(../imagenes/casa-gardel.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  margin-left: 2%;
  border-style: none;
  border-radius: 0;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nota__gardel .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.nota__gardel .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: "Oswald", sans-serif;
}

.nota__gardel:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__gardel:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__gardel:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.nota__boxeo {
  background-image: url(../imagenes/almagro-boxing.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  margin-left: 2%;
  border-style: none;
  border-radius: 0;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nota__boxeo .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.nota__boxeo .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: "Oswald", sans-serif;
}

.nota__boxeo:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__boxeo:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__boxeo:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.nota__toscano {
  background-image: url(../imagenes/pablo-toscano.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  margin-left: 2%;
  border-style: none;
  border-radius: 0;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nota__toscano .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.nota__toscano .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: "Oswald", sans-serif;
}

.nota__toscano:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__toscano:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__toscano:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid-container {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: "nota__arsenico nota__siria vacio";
}

.grid-container:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nota__arsenico;
}

.grid-container:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: nota__siria;
}

.grid-container:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: vacio;
}

.grid-container a {
  text-decoration: none;
}

.grid-container .nota__arsenico {
  background-image: url(../imagenes/casares-card.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  margin-left: 2%;
  border-style: none;
  border-radius: 0;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container .nota__arsenico .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.grid-container .nota__arsenico .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: "Oswald", sans-serif;
}

.grid-container .nota__arsenico:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid-container .nota__arsenico:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid-container .nota__arsenico:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid-container .nota__siria {
  background-image: url(../imagenes/guerra-siria.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container .nota__siria .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.grid-container .nota__siria .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: "Oswald", sans-serif;
}

.grid-container .nota__siria:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid-container .nota__siria:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid-container .nota__siria:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

@media screen and (max-width: 479px) {
  .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "nota__arsenico" "nota__siria";
  }
  .grid-container .nota__arsenico {
    background-image: url(../imagenes/casares-card-415.png);
  }
}

@media screen and (min-width: 480px) and (max-width: 779px) {
  .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "nota__arsenico" "nota__siria";
    -webkit-transform: translateX(14%);
            transform: translateX(14%);
  }
}

.nota__tops {
  background-image: url(../imagenes/goat-simulator.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  margin-left: 2%;
  border-style: none;
  border-radius: 0;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nota__tops .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.nota__tops .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: "Oswald", sans-serif;
}

.nota__tops:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__tops:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__tops:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

html {
  width: 100%;
}

header {
  width: 100%;
}

main {
  display: block;
}

main .titulo {
  font-family: "Oswald", sans-serif;
  width: 39rem;
  margin-top: 2%;
  margin-left: 20%;
}

main .foto {
  margin-top: 2%;
  margin-left: 20%;
  width: 35%;
}

main .epigrafe {
  font-family: "Oswald", sans-serif;
  width: 39rem;
  margin-top: 2%;
  margin-left: 20%;
}

main .creditos {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

main .pregunta {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  width: 39rem;
  margin-left: 20%;
  line-height: 2rem;
}

main .respuesta {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  width: 39rem;
  margin-left: 20%;
  line-height: 2rem;
}

main .trailer {
  width: 30%;
  margin-left: 20%;
}

main .recuadro {
  font-family: "Oswald", sans-serif;
  margin-left: 20%;
  margin-top: 3%;
}

main .video-recuadro {
  width: 30%;
  margin-left: 20%;
}

main .encabezado {
  margin-top: 2%;
  margin-left: 20%;
}

main p {
  font-family: "Oswald", sans-serif;
  width: 39rem;
  margin-top: 2%;
  margin-left: 20%;
}

@media screen and (max-width: 479px) {
  main .titulo, main .foto, main .trailer, main .video-recuadro, main .epigrafe, main .creditos, main .pregunta, main .respuesta, main .encabezado, main p {
    margin-left: 10% !important;
    width: 80% !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 779px) {
  main .titulo, main .foto, main .trailer, main .video-recuadro, main .epigrafe, main .creditos, main .pregunta, main .respuesta, main .encabezado, main p {
    margin-left: 5% !important;
    width: 70% !important;
  }
  main .respuesta, main .epigrafe, main .encabezado, main .creditos, main p {
    font-size: 1.2rem;
  }
}

.error {
  margin: 3%;
  font-family: "Oswald", sans-serif;
}

.link {
  margin-left: 3%;
}

.link .boton {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 31.25rem;
  width: 100%;
}

header .logo__pagina {
  height: 31.25rem;
}

nav {
  background-color: gray;
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  height: 7.813rem;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  border-bottom-style: solid;
  border-width: 0.031rem;
}

nav .nav-link {
  color: black !important;
  background-color: rgba(128, 128, 128, 0.8);
}

nav .nav-link:hover {
  background-color: black;
  color: white !important;
}

nav .menu {
  margin-left: 3%;
}

nav .dropdown-menu {
  background-color: unset;
  border: unset;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0);
}

nav .dropdown-item {
  color: black;
}

nav .dropdown-item:hover {
  background-color: black !important;
  color: white !important;
}

.slider__carrusel {
  width: 35%;
  height: 70%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.slider__carrusel .texto__carrusel {
  color: black;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider__carrusel .notas {
  width: 34.375;
  height: 31.25rem;
}

.grid {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "nota__toscano nota__gardel nota__arsenico" "nota__boxeo nota__tops nota__siria";
}

.grid:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nota__toscano;
}

.grid:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nota__gardel;
}

.grid:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nota__arsenico;
}

.grid:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nota__boxeo;
}

.grid:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nota__tops;
}

.grid:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: nota__siria;
}

.grid a {
  text-decoration: none;
}

.grid .nota__toscano {
  background-image: url(../imagenes/pablo-toscano.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
}

.grid .nota__toscano .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

.grid .nota__toscano .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__toscano:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__toscano:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__toscano:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__gardel {
  background-image: url(../imagenes/casa-gardel.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
}

.grid .nota__gardel .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

.grid .nota__gardel .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__gardel:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__gardel:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__gardel:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__arsenico {
  background-image: url(../imagenes/casares-card.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__arsenico .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.grid .nota__arsenico .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__arsenico:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__arsenico:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__arsenico:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__boxeo {
  background-image: url(../imagenes/almagro-boxing.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__boxeo .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.grid .nota__boxeo .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__boxeo:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__boxeo:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__boxeo:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__tops {
  background-image: url(../imagenes/goat-simulator.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__tops .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.grid .nota__tops .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__tops:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__tops:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__tops:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__siria {
  background-image: url(../imagenes/guerra-siria.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  border-radius: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__siria .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.grid .nota__siria .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__siria:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__siria:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__siria:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.secciones {
  max-width: 37.5rem;
  margin: 2%;
}

.secciones a {
  text-decoration: none;
}

footer {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  background-color: gray;
  width: 100%;
  height: 9.375rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: "footlose redes buscador";
}

footer:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footlose;
}

footer:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: redes;
}

footer:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: buscador;
}

footer .footloose {
  margin: auto;
}

footer .redes {
  margin: auto;
}

footer .redes .redes__footer {
  text-align: center;
}

footer .redes .red {
  margin: 1.25rem;
}

footer .redes .red .red-social {
  width: 1.875rem;
  height: 1.875rem;
}

footer .buscador {
  margin: auto;
}

footer .buscador .barra__busqueda {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: 3rem;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  font-family: 'Oswald', sans-serif;
}

footer .buscador .barra__busqueda .error {
  margin: auto;
  margin-left: 0.625rem;
  height: 100%;
}

footer .buscador .barra__busqueda .error .boton__busqueda {
  height: 100%;
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

.formulario {
  margin-top: 3%;
  padding-left: 5%;
  font-family: "Oswald", sans-serif;
}

@media screen and (max-width: 479px) {
  nav .menu {
    margin-left: 0%;
    margin-top: 0%;
  }
  nav .nav-link {
    padding-left: 2% !important;
  }
  nav .dropdown-menu {
    padding: 0%;
    background-color: rgba(128, 128, 128, 0) !important;
    margin-top: 0px !important;
  }
  nav .dropdown-item {
    color: black;
  }
  .slider__carrusel {
    width: 100%;
    height: 50% !important;
    margin-top: 5%;
  }
  .slider__carrusel .notas {
    height: 100%;
  }
  .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "nota__toscano" "nota__gardel" "nota__arsenico" "nota__boxeo" "nota__tops" "nota__siria";
  }
  .grid .nota__gardel {
    background-image: url(../imagenes/gardel-card-415.png);
  }
  .grid .nota__arsenico {
    background-image: url(../imagenes/casares-card-415.png);
  }
  .grid .nota__tops {
    background-image: url(../imagenes/cabra-card-415.png);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    text-align: center;
  }
  footer .footloose, footer .redes {
    margin-top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .redes {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer .buscador {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: 10%;
  }
  footer .buscador .error {
    margin-left: 0.625rem;
  }
  footer .buscador .error .boton__busqueda {
    margin-top: 0% !important;
    height: 100%;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: .25rem;
  }
  .secciones {
    margin: 5% 0% 0% 0%;
  }
  .secciones .nota__toscano {
    width: 100%;
    margin: 0px;
  }
  .secciones .nota__gardel {
    width: 100%;
    margin: 0px;
  }
  .secciones .nota__arsenico {
    width: 100%;
    margin: 0px;
  }
  .secciones .nota__boxeo {
    width: 100%;
    margin-left: 0px;
  }
  .secciones .nota__tops {
    width: 100%;
    margin: 0px;
  }
  .secciones .nota__siria {
    width: 100%;
    margin: 0px;
  }
  #Consulta {
    max-width: 21.875rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 779px) {
  nav .menu {
    margin-left: 0%;
    margin-top: 0%;
  }
  nav .nav-link {
    padding-left: 2% !important;
  }
  nav .dropdown-menu {
    padding: 0%;
    background-color: rgba(128, 128, 128, 0) !important;
    margin-top: 0px !important;
  }
  nav .dropdown-item {
    color: black;
  }
  .slider__carrusel {
    width: 100%;
    height: 50% !important;
    margin-top: 5%;
    font-size: 1.25rem;
  }
  .slider__carrusel .notas {
    height: 100%;
  }
  .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "nota__toscano" "nota__gardel" "nota__arsenico" "nota__boxeo" "nota__tops" "nota__siria";
  }
  .grid .card-text h1 {
    font-size: 2.5rem;
  }
  .grid .card-text h2 {
    font-size: 2.5rem;
  }
  .grid .card-text p {
    font-size: 1.5rem;
  }
  .secciones {
    margin: 5% 0% 0% 0%;
  }
  .secciones .nota__toscano {
    width: 100%;
    margin: 0px;
    -webkit-transform: translateX(14%);
            transform: translateX(14%);
  }
  .secciones .nota__toscano .card-text h1 {
    font-size: 2.5rem;
  }
  .secciones .nota__toscano .card-text h2 {
    font-size: 2.5rem;
  }
  .secciones .nota__toscano .card-text p {
    font-size: 1.5rem;
  }
  .secciones .nota__gardel {
    width: 100%;
    margin: 0px;
    -webkit-transform: translateX(14%);
            transform: translateX(14%);
  }
  .secciones .nota__gardel .card-text h1 {
    font-size: 2.5rem;
  }
  .secciones .nota__gardel .card-text h2 {
    font-size: 2.5rem;
  }
  .secciones .nota__gardel .card-text p {
    font-size: 1.5rem;
  }
  .secciones .nota__arsenico {
    width: 100%;
    margin: 0px;
  }
  .secciones .nota__arsenico .card-text h1 {
    font-size: 2.5rem;
  }
  .secciones .nota__arsenico .card-text h2 {
    font-size: 2.5rem;
  }
  .secciones .nota__arsenico .card-text p {
    font-size: 1.5rem;
  }
  .secciones .nota__boxeo {
    width: 100%;
    -webkit-transform: translateX(14%);
            transform: translateX(14%);
  }
  .secciones .nota__boxeo .card-text h1 {
    font-size: 2.5rem;
  }
  .secciones .nota__boxeo .card-text h2 {
    font-size: 2.5rem;
  }
  .secciones .nota__boxeo .card-text p {
    font-size: 1.5rem;
  }
  .secciones .nota__tops {
    width: 100%;
    margin: 0px;
    -webkit-transform: translateX(14%);
            transform: translateX(14%);
  }
  .secciones .nota__tops .card-text h1 {
    font-size: 2.5rem;
  }
  .secciones .nota__tops .card-text h2 {
    font-size: 2.5rem;
  }
  .secciones .nota__tops .card-text p {
    font-size: 1.5rem;
  }
  .secciones .nota__siria {
    width: 100%;
    margin: 0px;
  }
  .secciones .nota__siria .card-text h1 {
    font-size: 2.5rem;
  }
  .secciones .nota__siria .card-text h2 {
    font-size: 2.5rem;
  }
  .secciones .nota__siria .card-text p {
    font-size: 1.5rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    text-align: center;
    margin-bottom: 0%;
  }
  footer .footloose, footer .redes {
    margin-top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .redes {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer .buscador {
    margin-top: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer .buscador .error {
    margin-left: 0.625rem;
  }
  footer .buscador .error .boton__busqueda {
    margin-top: 0% !important;
    height: 100%;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: .25rem;
  }
  #Consulta {
    max-width: 43.75rem;
  }
}
/*# sourceMappingURL=style.css.map */