@import "contacto";
@import "cultura";
@import "deportes";
@import "entrevistas";
@import "sociedad";
@import "tops";
@import "notas";

$colorbody: rgb(201, 193, 193);
$colorheader: black;
$color-nav-y-footer: gray;
$height1: 500px;
$height2: 309px;
$tipo: 'Oswald', sans-serif;
$widht1: 550px;
$widht2: 600px;

body{
    background-color: $colorbody;
}
header{
    background-color: $colorheader;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    .logo__pagina{
        height: $height1;
    }
}

nav{
    background-color: $color-nav-y-footer;
    font-size: 20px;
    font-family: $tipo;
    display: inline-block;
    z-index: 1;
    height: 125px;
    a{
        color: black !important;
    }
    a:hover{
        background-color: black;
        color: white !important;
    }
    .menu{
        margin-left: 3%;
    }
    .dropdown-menu{
        background-color: unset;
        border: unset;
        z-index: 1;
        
    }
    .dropdown-item:hover{
        background-color: black !important;
        color: white !important;
    }
}
.slider__carrusel{
    width: 35%;
    height: 70%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    
    .texto__carrusel{
        color: black;
        font-family: 'Oswald', sans-serif;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .notas{
        width: 550px;
        height: 500px;
    }
}

.grid{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "nota__toscano nota__gardel nota__arsenico"
    "nota__boxeo nota__tops nota__siria";
    &:nth-child(1){
        grid-area: nota__toscano;
    }
    &:nth-child(2){
        grid-area: nota__gardel;   
    }
    &:nth-child(3){
        grid-area: nota__arsenico;
    }
    &:nth-child(4){
        grid-area: nota__boxeo;
    }
    &:nth-child(5){
        grid-area: nota__tops;
    }
    &:nth-child(6){
        grid-area: nota__siria;
    }
    a{
        text-decoration: none;
    }
    .nota__toscano{
        background-image: url(../imagenes/pablo-toscano.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__toscano:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__gardel{
        background-image: url(../imagenes/casa-gardel.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0 0;
        border-style: none;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__gardel:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__arsenico{
        background-image: url(../imagenes/carlos-casares.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__arsenico:hover{
        opacity: 1;
        transition: 0.5s;
        filter: grayscale(0%);
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }

    .nota__boxeo{
        background-image: url(../imagenes/almagro-boxing.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__boxeo:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__tops{
        background-image: url(../imagenes/goat-simulator.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__tops:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
    .nota__siria{
        background-image: url(../imagenes/guerra-siria.png);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 0;
        border-style: none;
        height: 100%;
        object-fit: cover;
        .card-img-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-align: center;
            margin-top: 20%;
            color: black;
            font-family: 'Oswald', sans-serif;
        }
    }
    .nota__siria:hover{
        opacity: 1;
        transition: 1s;
        filter: grayscale(0%);
        
        .card-text{
            visibility: hidden;
            transition: 0s;
        }
        .card-img-overlay{
            transition: 0s;
            visibility: hidden;
        }
    }
}

.secciones{
    max-width: $widht2;
    margin: 2%;
}

footer{
    margin-top: 5%;
    display: flex;
    background-color: gray;
    height: 150px;
    width: 100%;
    .footloose {
        margin-top: 2%;
        margin-left: 2%;
    }
    .redes{
        margin-top: 35px;
        margin-left: 25px;
        justify-content: right;
    }
    
    #facebook{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    
    #instagram{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    #twitter{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
    #whatsapp{
        margin: 20px;
        width: 30px;
        height: 30px;
    }
}