header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.formulario {
  padding-left: 5%;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__gardel {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
  margin: 2%;
}

.nota__gardel .foto__gardel {
  margin-top: 10%;
  width: 550px;
  height: 309px;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

body {
  background-color: #c9c1c1;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

.slider__carrusel {
  width: 50%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.slider__carrusel .texto__carrusel {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.slider__carrusel .texto__gardel {
  color: black;
  font-family: 'Oswald', sans-serif;
}

.slider__carrusel .notas {
  width: 550px;
  height: 500px;
}

.grid {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-left: 10%;
}

.grid .nota__toscano {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
}

.grid .nota__toscano .foto__toscano {
  width: 550px;
  height: 309px;
}

.grid .nota__gardel {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
}

.grid .nota__gardel .foto__gardel {
  margin-top: 10%;
  width: 550px;
  height: 309px;
}

.grid .nota__gardel .titulo__gardel {
  font-size: 32px;
}

.grid .nota__arsenico {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
}

.grid .nota__arsenico .foto__casares {
  width: 550px;
  height: 309px;
}

.grid .nota__arsenico .titulo__arsenico {
  font-size: 32px;
}

.grid .nota__almagro {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
}

.grid .nota__almagro .foto__gimnasio {
  margin-top: 10%;
  width: 550px;
  height: 309px;
}

.grid .nota__almagro .titulo__almagro {
  font-size: 32px;
}

#whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 0;
  margin-left: 93%;
  margin-bottom: 5%;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */