header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.formulario {
  padding-left: 5%;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__gardel {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
  margin: 2%;
}

.nota__gardel .foto__gardel {
  margin-top: 10%;
  width: 550px;
  height: 309px;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__almagro {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
  margin: 2%;
}

.nota__almagro .foto__gimnasio {
  margin-top: 10%;
  width: 550px;
  height: 309px;
}

.nota__almagro .titulo__almagro {
  font-size: 32px;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__toscano {
  background-image: url(pablotoscano.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
}

.nota__toscano .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.nota__toscano .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.nota__toscano:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__toscano:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__toscano:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__arsenico {
  background-image: url(carlos-casares.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
}

.nota__arsenico .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.nota__arsenico .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.nota__arsenico:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__arsenico:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__arsenico:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__tops {
  background-image: url(goat-simulator.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
}

.nota__tops .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.nota__tops .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.nota__tops:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nota__tops:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.nota__tops:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu__nav {
  padding: 20px;
  margin: 30px;
  bottom: 8px;
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu__nav .menu__dropdown {
  border: ridge;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'Oswald', sans-serif;
}

nav .barra__busqueda .boton__busqueda {
  border-color: black;
  background-color: black;
  color: white;
  border-radius: .25rem;
}

body {
  background-color: #c9c1c1;
}

.nota__toscano {
  width: 600px;
  height: 500px;
  font-family: "Oswald", sans-serif;
  margin: 2%;
}

.nota__toscano .foto__toscano {
  width: 550px;
  height: 309px;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: gray;
  height: 150px;
}

footer .footloose {
  margin-top: 60px;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

main {
  display: block;
}

main .titulo {
  font-family: "Oswald", sans-serif;
  width: 624px;
  margin-top: 2%;
  margin-left: 20%;
}

main .foto {
  margin-top: 2%;
  margin-left: 20%;
}

main .epigrafe {
  font-family: "Oswald", sans-serif;
  width: 624px;
  margin-top: 2%;
  margin-left: 20%;
}

main .creditos {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

main .pregunta {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  width: 624px;
  margin-left: 20%;
  line-height: 2em;
}

main .respuesta {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  width: 624px;
  margin-left: 20%;
  line-height: 2em;
}

main .trailer {
  width: 30%;
  margin-left: 20%;
}

main .encabezado {
  margin-top: 2%;
  margin-left: 20%;
}

main p {
  font-family: "Oswald", sans-serif;
  width: 624px;
  margin-top: 2%;
  margin-left: 20%;
}

main .recuadro {
  font-family: "Oswald", sans-serif;
  margin-left: 20%;
  margin-top: 3%;
}

main .video-recuadro {
  width: 30%;
  margin-left: 20%;
}

body {
  background-color: #c9c1c1;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 100%;
}

header .logo__pagina {
  height: 500px;
}

nav {
  background-color: gray;
  font-size: 20px;
  display: inline-block;
  z-index: 1;
  height: 125px;
}

nav a {
  color: black !important;
}

nav a:hover {
  background-color: black;
  color: white !important;
}

nav .menu {
  margin-left: 3%;
}

nav .dropdown-menu {
  background-color: unset;
  border: unset;
  z-index: 1;
}

nav .dropdown-item:hover {
  background-color: black !important;
  color: white !important;
}

.slider__carrusel {
  width: 50%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.slider__carrusel .texto__carrusel {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.slider__carrusel .texto__gardel {
  color: black;
  font-family: 'Oswald', sans-serif;
}

.slider__carrusel .notas {
  width: 550px;
  height: 500px;
}

.grid {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "nota1 nota2 nota3" "nota4 nota5 nota6";
}

.grid:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nota1;
}

.grid:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nota2;
}

.grid:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nota3;
}

.grid:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nota4;
}

.grid:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nota5;
}

.grid:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: nota6;
}

.grid a {
  text-decoration: none;
}

.grid .nota__toscano {
  background-image: url(pablotoscano.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
}

.grid .nota__toscano .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.grid .nota__toscano .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__toscano:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__toscano:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__toscano:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__gardel {
  background-image: url(casa-gardel.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
}

.grid .nota__gardel .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.grid .nota__gardel .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__gardel:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__gardel:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__gardel:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__arsenico {
  background-image: url(carlos-casares.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__arsenico .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
}

.grid .nota__arsenico .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__arsenico:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__arsenico:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__arsenico:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__boxeo {
  background-image: url(almagro-boxing.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__boxeo .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
}

.grid .nota__boxeo .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__boxeo:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__boxeo:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__boxeo:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__tops {
  background-image: url(goat-simulator.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__tops .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
}

.grid .nota__tops .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__tops:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__tops:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__tops:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

.grid .nota__siria {
  background-image: url(guerra-siria.png);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0;
  border-style: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .nota__siria .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
}

.grid .nota__siria .card-text {
  text-align: center;
  margin-top: 20%;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.grid .nota__siria:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.grid .nota__siria:hover .card-text {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.grid .nota__siria:hover .card-img-overlay {
  -webkit-transition: 0s;
  transition: 0s;
  visibility: hidden;
}

footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  height: 150px;
  width: 100%;
}

footer .footloose {
  margin-top: 2%;
  margin-left: 2%;
}

footer .redes {
  margin-top: 35px;
  margin-left: 25px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer #facebook {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #instagram {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #twitter {
  margin: 20px;
  width: 30px;
  height: 30px;
}

footer #whatsapp {
  margin: 20px;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */